body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    bottom: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 75px;
    height: 800px;
    width: 99%;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.column {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.left {
    background-color: #f2f2f2;
}

.right {
    background-color: #e0e0e0;
}

svg {
    fill: #C9C9C9;
    margin: 0;
    padding: 0;
}

svg path {
    margin: 0;
    padding: 0;
}

svg path:hover {
    fill: #BEBEBE;
    cursor: pointer;
}